<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title or "Home" }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="robots" content="index,follow"><!-- All Search Engines -->
    <meta name="googlebot" content="index,follow"><!-- Google Specific -->
    {% block pageMeta %}
    <meta property="fb:app_id" content="{{ site.fb_appid }}">
    <meta property="og:url" content="{{ site.url }}/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:image" content="{{ site.url }}/images/fighting-forms.jpg">
    <meta property="og:width" content="1200">
    <meta property="og:height" content="630">
    <meta property="og:description" content="{{ site.description}}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.url }}/images/fighting-forms.jpg">
    <meta name="twitter:url" content="{{ site.url }}">
    {% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#d7e1ec">
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    <!-- CSS -->
    <link rel="stylesheet" href="/{{ fingerprint["css/site.css"] }}"> 
    {% block head %}{% endblock %}
  </head>
  <body {% block bodyAttrs %}{% endblock %}>
    {% block header %}
    {% endblock %}
    {% block main %}
    <main class="main">
      {% block body %}
        {{ contents | safe }}
      {% endblock %}
    </main>
    {% endblock %}
    {% block footer %}
      <footer class="u-relative c-footer">
          Copyright © <script>document.currentScript.insertAdjacentHTML('beforebegin', new Date().getFullYear());</script>&nbsp;<a href="mailto:ian@absolutedestiny.org">AbsoluteDestiny</a>
      </footer>
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
