{% extends "base.njk" %}}

{% block main %}
    <img inline id="bgsvg" preserveAspectRatio="xMinYMin slice" class="c-bg-svg c-bg-svg--backup" src="src/media/bg3.svg" style="opacity: 1">
    <img class="c-bg-img" data-vid-img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" onload="this.classList.add('is-loaded')">
    <div class="u-relative">
        <div class="l-container">
            <header class="c-header">
                <h1 class="c-header__heading">{{site.title}}</h1>
            </header>
        </div>
        <nav class="c-vid-grid">
            {% for vid in vids %}
                {% if vid.downloads | length %}
                    {% set active = " is-active" if  (vid_id == vid.vid_id)  else "" %}
                    <div class="c-vid-grid__item">
                        <a data-navigo href="{{vid.paths.href}}" class="c-vid{{active}}" data-vid="{{vid.vid_id}}" data-svg="/media/{{vid.svg}}" data-img="/media/{{vid.bgimg}}" data-muxid="{{vid.mux}}" data-srt="{{vid.srt}}" data-meta-title="{{vid.title}}" data-meta-description="A fanwork by AbsoluteDestiny to '{{vid.song}}' by {{vid.artist}} using {{vid.footage | join(', ')}}">
                            <img inline data-vid-svg id="svg-{{vid.vid_id}}" class="c-vid__image" src="src/media/{{vid.svg}}" alt="{{vid.title}}">
                            <div class="c-vid__details">
                                <div class="c-vid__title">{{vid.title}} <span class="c-vid__date">{{vid.date | date("MMM, YYYY")}}</span></div>
                                <div class="c-vid__footage">Footage: {% if (vid.footage | length) > 3 %}{{vid.footage | slice(3) | first | join(', ')}}…{% else %}{{vid.footage | join(', ')}}{% endif %}</div>
                            </div>
                            
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </nav>
        <div class="l-details">
            <a href="/" class="c-backnav" data-navigo><span class="c-backnav__link"><svg style="vertical-align: bottom;" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/></svg> back to vids</span><span class="c-backnav__title">{{site.title}}</span></a>
            {% for vid in vids %}
                <section class="c-details" data-vid-details="{{vid.vid_id}}">
                    <header class="c-details__header">
                        <h1 class="c-details__heading">{{vid.title}}</h1>
                        
                    </header>
                    {% if vid.downloads | length %}
                        <div class="c-details__downloads"><span class="u-font-header">Downloads:</span>
                        {% for dl in vid.downloads %}
                            <a class="c-details__download" href="/video/{{dl.url}}">{{dl.title}}</a>
                        {% endfor %}</div>
                    {% endif %}
                    <div class="c-details__footage"><span class="u-font-header">Footage:</span> {{vid.footage}}</div>
                    <div class="c-details__music"><span class="u-font-header">Audio:</span> {{vid.song}} by {{vid.artist}}</div>
                    <div class="c-details__description">{{vid.description|safe}}</div>
                </section>
            {% endfor %}
            <section class="c-video">
                <video preload="false" id="videoPlayer" controls crossorigin>
                </video>
            </section>
            <footer class="u-relative c-footer c-footer--vid">
                Copyright © <script>document.currentScript.insertAdjacentHTML('beforebegin', new Date().getFullYear());</script>&nbsp;<a href="mailto:ian@absolutedestiny.org">AbsoluteDestiny</a>
            </footer>
        </div>
        
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ fingerprint["js/bundle.js"] }}"></script>
{% endblock %}