{% extends "home.njk" %}
{% block pageMeta %}
<meta property="fb:app_id" content="{{ site.fb_appid }}">
<meta property="og:url" content="{{ site.url }}/{{paths.dir | replace('\\', '/')}}">
<meta property="og:type" content="video.other">
<meta property="og:title" content="{{ title }} | {{ site.title }}">
<meta property="og:image" content="{{ site.url }}/media/{{bgimg}}">
<meta property="og:description" content="A fanwork by AbsoluteDestiny to {{song}} by {{artist}} using {{footage | join(', ')}}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="en_US">
<meta property="og:video" content="{{ site.vid_cdn }}/{{ mp4name }}" />
<meta property="video:director" content="{{ site.author }}">
<meta property="video:release_date" content="{{ date.toISOString() }}">
<meta name="twitter:card" content="player">
<meta name="twitter:site" content="{{ site.twitter_handle }}">
<meta name="twitter:url" content="{{ site.url }}/vid/{{vidkey}}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="A fanwork by AbsoluteDestiny to {{song}} by {{artist}} using {{footage | join(', ')}}">
<meta name="twitter:image" content="{{ site.url }}/media/{{bgimg}}" />
<meta name="twitter:player" content="{{ site.url }}/vidplayer/{{vidkey}}/index.html" />
<meta name="twitter:player:width" content="{{ width }}" />
<meta name="twitter:player:height" content="{{ height }}" />
<meta name="twitter:player:stream" content="{{ site.vid_cdn }}/{{ mp4name }}" />
<meta name="twitter:player:stream:content_type" content="video/mp4" />
{% endblock %}